<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>@ViewBag.Title</title>

    @Styles.Render(BundleConfig.GetBundlePath(BundleConfig.Bundles.BootstrapCSS))
    @Styles.Render(BundleConfig.GetBundlePath(BundleConfig.Bundles.BootstrapTheme))
    @Styles.Render(BundleConfig.GetBundlePath(BundleConfig.Bundles.Styles))
</head>
<body class="body-content">
    @Scripts.Render(BundleConfig.GetBundlePath(BundleConfig.Bundles.JQuery))
    @Scripts.Render(BundleConfig.GetBundlePath(BundleConfig.Bundles.BootstrapScript))
    @Scripts.Render(BundleConfig.GetBundlePath(BundleConfig.Bundles.Scripts))
    @RenderSection("scripts", required: false)

    @RenderBody()
    
    </body>
</html>
